
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background: linear-gradient(to bottom, #0f172a, #112649);
      color: #f8fafc;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding: 2rem;
      text-align: center;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: #38bdf8;
    }

    p {
      font-size: 17px;
      color: #ffffff;
      max-width: 500px;
      margin-bottom: 2rem;
    }

    .link-button {
      background-color: #eeff00;
      color: #000000;
      padding: 1rem;
      border: none;
      border-radius: 0.75rem;
      font-weight: 600;
      width: 100%;
      max-width: 320px;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 12px rgba(248, 0, 0, 0.2);
      
    }

    .link-button:hover {
      background-color: #e94c0e;
      transform: scale(1.05);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    }

    footer {
      margin-top: 3rem;
      font-size: 0.75rem;
      color: #64748b;
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 1.8rem;
      }

      p {
        font-size: 0.95rem;
        padding: 0 1rem;
      }

      .link-button {
        font-size: 0.95rem;
        padding: 0.9rem;
      }
    }
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow:
        4px 4px 10px rgba(252, 80, 0, 0),   /* sombra escura (embaixo/direita) */
        -4px -4px 10px rgba(200, 200, 200, 255); /* luz clara (em cima/esquerda) */
        
    }